%main
  .question
    %h1.question-fade-in.to-fade-in= I18n.t(:meet_shoshi)
    %h3.question-fade-in.to-fade-in= I18n.t(:just_a_regular_girl)
    %h4
      %span.question-fade-in.to-fade-in= I18n.t(:but)
      %span.question-fade-in.to-fade-in= I18n.t(:oh_no)
      %span.question-fade-in.to-fade-in= I18n.t(:shoshi_has_a_problem)
    %button.btn.btn-primary.btn-success.question-fade-in.to-fade-in.btn-whats-wrong
      %span= I18n.t(:whats_wrong_with_shoshi)
  .answer
    %h3
      %span.answer-fade-in.to-fade-in= I18n.t(:oh_no)
      %span.answer-fade-in.to-fade-in= I18n.t(:shes)
      %span.answer-fade-in.to-fade-in.whats-wrong
    %div
      %button.btn.btn-primary.btn-success.answer-fade-in.to-fade-in.btn-whats-wrong
        %span= I18n.t(:oh_no)
        %span= I18n.t(:what_else_is_wrong)